# Secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build Artifacts
dist/
build/
*.log

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
